* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    position: relative;
}

.nav {
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #dadada;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4.5vw;
}

.nav-part2 {
    display: flex;
    align-items: center;
    gap: 4vw;
    
}

.nav h2{
    font-size: 2.99vw;
    font-weight: 700;

}

.nav h4{
    font-size: 1.77vw;
}
i{
    font-size: 1.9vw;
    display: none;
}

@media (max-width:600px) {
    .nav{
        background-color: lightcoral;
        color: white;
        padding: 0 5vw;
        height: 88px;
    }
    .nav h2{
        font-size: 6.22vw;
    }
    .nav h4{
        font-size: 3vw;
        display: none;
    }
    i{
        font-size: 6vw;
        font-weight: 800;
        display: block;
    }
}

.contant{
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    /* background-color: bisque; */
    position: relative;
}
.left{
    height: 100%;
    width: 50%;
    padding: 3vw 4vw;
}

.left h1{
    font-size: 4vw;
    line-height: 4.3vw;
    margin-top: 5.35vw;
}
.left h1 span{
    color: aqua;

}
.left p{
    font-size: 1.55vw;
    line-height: 1.80vw;
    width: 80%;
    margin-top: 3vw;
    margin-bottom: 3.50vw;
}

.left button{
    font-size: 1.5vw;
    padding: 1vw 1vw;
    background-color: aqua;
    color: white;
    border-radius: 8px;
    margin-left: 30%;
    font-weight: 700;
    border: none;
    transition: all ease 0.5s;
}

button:hover{
    color: black;
    
}

button:active{
    scale: 0.9;
}

.right{
    height: 100%;
    width: 50%;
    /* background-color: rgb(255, 240, 25); */

}

.right img{
    height: 100%;
    object-fit: contain;
}
